body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: greenyellow;
    padding: 10px;
    text-align: center;
}

.header-container{
    text-align: center;
}

.container {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%; /* You can adjust the width as needed */
    display: flex;
}

.left-container {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 40%; /* You can adjust the width as needed */
    margin: 10px 0;
    
}

.right-container {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 40%; /* You can adjust the width as needed */
    margin: 10px 0;
    
}

.input-container {
    margin: 10px 0;
    border: 1px solid #ccc;
    padding-top: 10px;
}

.add-container {
    text-align: center;
    margin: 10px 0;
    padding-top: 10px;
}

.slider {
    width: 20%;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}

.ticket-input {
    width: 50%;
    text-align: center;
}
